<% include partials/header %> <!--We can also do ./partials/header-->

    <div class="indexcontainer">
        <h1>Index page</h1>
        
        <% blogs.forEach(function(blog){ %>
            <div>
                <h2><%= blog.title %></h2>
                <img src="<%= blog.image %>">
                <span><%= blog.created %></span>
                <p><%= blog.body.substring(0,100) %></p> <!--limit string to the first 100 char-->
                <a href="/blogs/<%= blog._id %>">Read more</a>
            </div>
        <% }) %>
        
        <% include partials/footer %>
    </div>  